*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

.pizarron{
    border-color: aqua;
    border-width: 5px;
    width: 100%;
    height: 100%;
}

h1{
position: center;
}

#canvas{
    border: 2px solid #255784;
    border-radius: 25px;
    background-color: whitesmoke;
}
    
    body{
        margin:0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #2a0c61;
        font-family: cursive;
        font-size: 14px;
        color: white;
    }
    h1{
        text-transform: uppercase;
        font-size: 39px;
        font-style: oblique;
    }
    
    p{
        text-transform: capitalize;
        font-size: 25px;
        font-style: oblique;
    }
    
    div{
        margin:0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2bc2e7;
    }
    
    input, button, a{
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 12px;
        border-radius: 20px;
        background: #2196f3;
        border: none;
    }
    
    button a{
        overflow: hidden;
        transition: 0.2s;     
    }
    
    input:hover{
        color: whitesmoke;
        background: #2196f3;
        box-shadow: 0 0 10px #2196f3,  0 0 400px #2196f3,  0 0 80px #2196f3; 
        transition-delay: 0.2s;
        border: none;
    }
    
    button:hover {
        color: whitesmoke;
        background: #2196f3;
        box-shadow: 0 0 10px #2196f3,  0 0 400px #2196f3,  0 0 80px #2196f3; 
        transition-delay: 0.2s;
        border: none;
    }
    
    a:hover {
        color: whitesmoke;
        background: #2196f3;
        box-shadow: 0 0 10px #2196f3,  0 0 400px #2196f3,  0 0 80px #2196f3; 
        transition-delay: 0.2s;
    }
    
    .head{
        width: 100%;
        font-size: 24px;
        color: whitesmoke;
    }
    
    .box1{
        width: 95%;
        display: inline-block;
    }
    .box1, .box, .lienzo{
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        border-radius: 26px;
        padding-top: 10px;
        padding-block-end: 10px;
        font-size: 200;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .box, .lienzo{
        width: 100%;
    }
    
    .lienzo{
        display: block;
        background: rgb(64, 167, 214);
        width: 95%;
    }
    
    .minibox{
        display: block;
        widows: 35%;
        /* background: aqua ; */
       /* margin-left: 20%;
       margin-right: 20%;
       margin-top: 10%;
       margin-bottom: 10%; */
    }


